/* HTML DOM style*/
* {
    margin: 0;
    padding: 0;
}

html {
    background: white;
}

body {
    font-family: Saira, sans-serif;
    font-size: 1em;
    color: #000000;
    background: white;
    margin: auto;
    min-width: 300px;
}

h1 {
    font-family: "Avenir Next", sans-serif;
    font-size: 2.0em;
    font-weight: 200;
}

h2 {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.5em;
    font-weight: 200;

}

h3 {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

p {
    font-family: "Avenir Next", sans-serif;
    font-size: 0.85em;
}
/* Size independent class */

/* Flex */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-main-start {
    justify-content: start;
}

.flex-main-end {
    justify-content: end;
}

.flex-main-center {
    justify-content: center;
}

.flex-main-between {
    justify-content: space-between;
}

.flex-main-around {
    justify-content: space-around;
}

.flex-main-evenly {
    justify-content: space-evenly;
}

.flex-cross-start {
    align-content: flex-start;
}

.flex-cross-end {
    align-content: flex-end;
}

.flex-main-center {
    align-content: center;
}

.flex-main-baseline {
    align-content: baseline;
}

.flex-cross-stretch {
    align-content: stretch;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reserve {
    flex-wrap: wrap-reverse;
}

.flex-content-stretch {
    align-content: stretch;
}

.flex-content-start {
    align-content: flex-start;
}

.flex-content-end {
    align-content: flex-end;
}

.flex-content-center {
    align-content: center;
}

.flex-content-between {
    align-content: space-between;
}

.flex-content-around {
    align-content: space-around;
}

.flex-self-stretch {
    align-self: stretch;
}

.flex-self-start {
    align-self: flex-start;
}

.flex-self-end {
    align-self: flex-end;
}

.flex-self-center {
    align-self: center;
}

.flex-self-baseline {
    align-self: baseline;
}

.flex-self-auto {
    flex: auto;
}

.flex-self-initial {
    flex: initial;
}

.flex-self-none {
    flex: none;
}
/* Column */
.flex-col-1 {
    flex: 1;
}

.flex-col-2 {
    flex: 2;
}

.flex-col-3 {
    flex: 3;
}

.flex-col-4 {
    flex: 4;
}

.flex-col-5 {
    flex: 5;
}
/* Color */

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-bright-black {
    color: #575757;
}

.text-red {
    color: #c0392b;
}

.bg-bright-black {
    background: #575757;
}

.bg-white {
    background: white;
}

.bg-black {
    background: black;
}

.bg-transparent {
    background: transparent;
}

.bg-transparent:hover {
    background: #333333;
}

.bg-red {
    background: #c0392b;
}

.bg-red:hover {
    background: #c40000;
}
/*Corner Border */
.rounded-2-2 {
    border-width: 2px;
    border-radius: 2px;
}

.rounded-1-4 {
    border-width: 1px;
    border-radius: 4px;
}


.border-red {
    border-color: #c0392b;
}

.border-white {
    border-color: white;
}

/*Text*/
.text-center {
    text-align: center;
}

.text-justify-center {
    text-align: justify;
    text-align-last: center;
}

/*Padding and margin*/
.padding-1 {
    padding: 1em;
}

.padding-2 {
    padding: 2em;
}

.margin-1 {
    margin: 1em;
}

.margin-2 {
    margin: 2em;
}
/*----------------------------------*/
/* Size dependent class */
/* Media less than 600px */
.flex-direction-auto {
    display: flex;
    flex-direction: column;
}

.container-sm {
    padding: 0.5em;
}

.container-fluid-sm {
    padding: 0.5em 0em 0.5em 0em;
}


.container-fluid-reserve-sm {
    padding: 0em 0.5em 0em 0.5em;
}

.container {
    padding: 3em;
}

.container-fluid {
    padding: 3em 0em 3em 0em;
}


.container-fluid-reserve {
    padding: 0em 3em 0em 3em;
}


.container-lg {
    padding: 8em;
}

.container-fluid-lg {
    padding: 10em 0em 8em 0em;
}

.container-fluid-reserve-lg {
    padding: 0em 8em 0em 8em;
}

/* Button */
.btn-sm {
    padding: 0.75em 0em 0.75em 0em;
}

.btn{
    padding: 1em 0em 1em 0em;
    margin-bottom: 5px;
}

.btn-lg {
    padding: 1.5em 0em 1.5em 0em;
}

.btn-rounded {
    border-width: 1.25px;
    border-style: solid;
    border-radius: 5px;
}

.btn-no-border {
    border-width: 0px;
}

.btn:hover {
    cursor: pointer;
}
/* Nav bar */

header {
    background:#f7f7f7;
}

.header-logo {
    margin-right: auto;
    margin-left: auto;
} 

.navbar-ul {
    display: flex;
    flex-direction: column;
    padding: 0 1.4em 0 0;
    font-size: 1.0em;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
}

.navbar-ul :hover {
    color: #B6B6B6;
}

.navbar-link {
    color: black;
    text-decoration: none;
}

.active {
    color: #c0392b;
    border-bottom: 2px solid #c0392b;
    padding: 0.2em;
    margin-bottom: 0.2em;
}
/* Media larger than 300px */
@media screen and (min-width : 400px) {
    .navbar-ul {
        display: inline-block;
    }

    .active {
        border: 1px solid #c0392b;
        border-radius: 0.2em;
        padding: 0.4em;
    }
}


/* Media larger than 600px */
@media screen and (min-width : 600px) {

    h1 {
        font-family: "Avenir Next", sans-serif;
        font-size: 2.5em;
        font-weight: 200;
    }
    
    h2 {
        font-family: "Avenir Next", sans-serif;
        font-size: 2em;
        font-weight: 200;
    
    }
    
    h3 {
        font-family: "Avenir Next", sans-serif;
        font-size: 1.5em;
        font-weight: 500;
    }

    .flex-direction-auto {
        flex-direction: row;
    }
    
    .header-logo {
        margin-left: 5%;
    }

    .container-sm {
        padding: 1em;
    }
    
    .container-fluid-sm {
        padding: 1em 0em 1em 0em;
    }
    
    
    .container-fluid-reserve {
        padding: 0em 1em 0em 1em;
    }
    
    .container {
        padding: 5em;
    }
    
    .container-fluid {
        padding: 5em 0em 5em 0em;
    }
    
    
    .container-fluid-reserve {
        padding: 0em 5em 0em 5em;
    }
    
    
    .container-lg {
        padding: 10em;
    }
    
    .container-fluid-lg {
        padding: 10em 0em 10em 0em;
    }
    
    .container-fluid-reserve-lg {
        padding: 0em 10em 0em 10em;
    }

    .btn-sm {
        padding: 0.75em 1.5em 0.75em 1.5em;
    }
    
    .btn{
        padding: 1em 2em 1em 2em;
        margin-bottom: 0px;
    }

    .btn-lg {
        padding: 1.5em 3em 1.5em 3em;
    }
}


/* Media larger than 1200px */