* {
    margin: 0;
    padding: 0;
}

html {
    background: white;
}

body {
    font-family: Saira, sans-serif;
    font-size: 1em;
    color: #000000;
    background: white;
    margin: auto;
}

h1 {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.8em;
    font-weight: 200;
}

h2 {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.5em;
    font-weight: 200;

}

h3 {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

p {
    font-family: "Avenir Next", sans-serif;
    font-size: 0.85em;
}


/*Media less than 600px*/

.header-container {
    display: flex;
    flex-direction: column;
    
    background:#ececec;
    padding: 1em 0;
}

.logo {
    margin-left: 10%;
}

.logo img {
    display: block;
}

nav {
    margin: 1.5em 0 0 5%;
}

header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

header ul li a {
    text-decoration: none;
    color: #333333;
    padding: 0.3em;
}

li a.active {
    color: #2c3e50;
    border: 1.5px solid #2c3e50;
    border-radius: 0.2em;
    font-weight: 300;
}

li a:hover {
    color: #B6B6B6;
    cursor: pointer;
    border-color: #B6B6B6;
}


/*CSS on content container */
.body-container {
    padding: 1em;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section p {
    text-align: justify;
    text-align-last: center;
    padding: 2em 5em 2em 5em;
}

.section-page {
    background: #383838;
    color: white;
    padding: 10em 2em 10em 2em;
}

.section-page-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25em 0 25em;
}

.section-page-button button {
    color: white;
    padding: 1.5em 4em 1.5em 4em;
    font-size: 1em;
    margin: 0.5em;
}

#kitty-button {
    background: #c0392b;
    border: 1px solid #c0392b;
    border-radius: 2px;
}

#hello-button {
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
}


/*Media Query - screen larger then 800px*/

@media screen and (min-width : 800px) {

    .section-page-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0 5em 0 5em;
    }

    .section p {
        padding: 2em 15em 2em 15em;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-left: 3em;
    }

    nav {
        align-self: center;
        margin: 0 0.8em 0 0;
    }
}

@media screen and (min-width : 1200px) {

}


/*Footer*/

footer {
    background: #867154;
    padding: 3.3em;
    text-align: center;
}

footer p {
    font-family: Roboto, sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    color: #A4A4A4;
    line-height: 130%;
}

footer p a {
    text-decoration:none;
    color: #A4A4A4;
}

footer img {
    padding: 0.4em 0 1.3em 0;
}
